<!doctype html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <title>Tony's Pizza Shop</title>
  <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
</head>
<body>
  <header>
    <div class="brand">Tony's</div>
    <div class="text-center">
      <a href="/pizza" class="button button__blue">Home</a>
      <a href="/pizza/new" class="button button__yellow">Order Pizza</a>
      <a href="/pizza" class="button button__blue">All Orders</a>
    </div>
  </header>

  <a herf="/pizza/new">Order Pizza</a>
  <%= yield %>
</body>
</html>